{% extends 'admin/base1.html' %}
{% load static %}

{% block body %}

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Icon Cards-->
        <div class="row">
            <div class="container-fluid col-12 bg-dark" style="height: 100vh;">
                <div class="map" id="myMap" style="width: 100%; height: 100%;"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?key=Agyr0UQGWTFzP3Fwb3PDJ_ahP24jx9jRgpUWwBD_37B8MXu1oql6WCs6J-vgU1YT"></script>
<script>
    var map;
    var searchManager;

    function initMap() {
        map = new Microsoft.Maps.Map(document.getElementById("myMap"), {
            credentials: "Au3Blei_Uhp8WxG4OPh-ZutbAHXmqrN3vEc-UkASaaTY6adPoJEo2QHBLTyNNvhB",
            zoom: 10,
        });

        // Retrieve data from Django view and loop through it
        var locations = [
            {% for record in seller %}
            {
                latitude: {{ record.latitude }},
                longitude: {{ record.longitude }},
                Store: "{{ record.storename }}",
                place: "{{ record.address }}"
            },
            {% endfor %}
        ];

        // Create markers for each location
        for (var i = 0; i < locations.length; i++) {
            var location = locations[i];
            var marker = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(location.latitude, location.longitude), {
                title: location.stname,
                subTitle: location.place
            });
            map.entities.push(marker);
        }
    }

    // Call the initMap function once the page is loaded
    window.onload = initMap;
</script>

{% endblock %}
