{% extends 'counselor/base_counselor.html' %}
{% load static %}

{% block body %}
<style>
    /* Add your CSS styles here */
    body {
        /* Add your background image URL */
        background-image: url('/static/doc_img/doc.jpg');
        background-size: 120%; /* Adjust the size as needed to zoom out */
        background-repeat: no-repeat;
        background-attachment: fixed; /* Fixed background */
    }
</style>

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>

        
        </div>
    </div>
</div>
{% endblock %}  
