{% extends 'patient/base.html' %}
{% load static %}
{% load humanize %} {# Load humanize for naturaltime filter #}

{% block body %}

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Icon Cards-->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h1 class="mb-4 text-center text-primary">Counseling Report</h1>
                            <!-- Link the "Download PDF" button to the URL of the view responsible for generating the PDF -->
                            <a href="{% url 'generate_counseling_pdf' counseling.id %}" class="btn btn-primary">Download PDF</a>
                        </div>

                        <hr>

                        <h2 class="mb-4">Patient Information</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Name:</strong> {{ patient.profile.full_name }}</p>
                                <p><strong>Gender:</strong> {{ patient.profile.gender }}</p>
                                <p><strong>Phone Number:</strong> {{ patient.profile.phone_number }}</p>
                            </div>
                        </div>

                        <hr>

                        <h2 class="mb-4">Counselor Information</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Name:</strong> {{ counselor.get_full_name }}</p>
                                <p><strong>Email:</strong> {{ counselor.email }}</p>
                            </div>
                        </div>

                        <hr>

                        <h2 class="mb-4">Counseling Information</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Date:</strong> {{ counseling.date }}</p>
                                <p><strong>Time:</strong> {{ counseling.time }}</p>
                                <p><strong>Reason:</strong> {{ counseling.reason }}</p>
                                <p><strong>Status:</strong> {{ counseling.status }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* Custom CSS styles */
    .card {
        border: 2px solid #17a2b8;
        border-radius: 10px;
    }

    .text-primary {
        color: #17a2b8;
    }

    .text-muted {
        color: #6c757d;
    }

    .list-group-item {
        background-color: #f8f9fa;
    }
</style>

{% endblock %}
